
.fejlec {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: rgb(58, 58, 58);
}

.csatlakozz {
    height: 100vh;
    background-image: url('bdf7deaf2a664a31a25391862e1dbd13.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.csatlakozz h1 {
    color: rgb(78, 32, 32);
    font-size: 350%;
    font-weight: bold;
    padding: 20px;
    background-color: transparent;
}
